#navbar {
    .container {
        display: flex;
        justify-content: space-between;
    }

    .navbar-brand { 
        img {
            width: 100%;
        }
    }

    .navbar-links {

        display: none;
        align-items: center;

        @include lg {
            display: flex;
        }

        .nav-links {
            font-size: 17px;
            font-weight: 500;
        

            .nav-link {
                text-decoration: none;
                color: set-text-color($color-light);
                margin-left: 25px;
                margin-right: 25px;
            }
        }

        i {
            margin-left: 5px;
            margin-right: 30px;
            font-size: 1.5rem;
        }
     }

     .btn {
         background-color: transparent;
         border: 1px solid transparent;
         border-radius: 10px;
         padding: 15px 20px;
         font-size: 17px;
         font-weight: 500;
        }

        .btn-outline {
            border-color: $color-orange;
        }
    
}